{% load static %} <!-- responsável por carregar a pasta static do diretório para o template-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" /> <!-- link para utilizar icones na footer-->

<!-- footer -->
<footer class="footer">
    <div class="footer-row">
      <div class="footer-col">
        <p>
            Software desenvolvido para fins de estudo!
        </p>
        <h3><b>© 2024 1113, Inc.</b></h3>
        <!-- links para redes socias -->
        <div class="icons">
          <a href="https://www.linkedin.com/in/luiz-augusto-holanda/"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/LUIZAUGUSTO1113"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </div>
</footer>